.event {
  background: url("/assets/images/starfighter.png") no-repeat center;
  background-size: cover;
  width: 100%;
  aspect-ratio: 50/50;
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1rem;
  z-index: 1;
  cursor: not-allowed;
  overflow: hidden;

  &.comming_soon {
    opacity: .2;
    background: rgba(0,0,0,0);
    cursor: not-allowed;
  }

  &:before {
    content: "";
    position: absolute;
    top: 7px;
    left: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    transform: skew(0deg) scale(1.1);
    background: rgba(#000030, .3);
    transition: transform 250ms ease-in-out;
  }

  > div {
    width: 100%;
    z-index: 2;
    position: absolute;
    bottom: 1.4rem;
    text-align: center;
  }

  h2 {
    display: block;
    font-size: 1.2rem;
    color: white;
    font-family: 'Luckiest Guy', cursive;
    letter-spacing: 1.5px;
    padding: 0;
    margin: 0;
    line-height: 1;
    transform: translateY(150%);
    transition: all 250ms ease-in-out;
  }

  span {
    display: block;
    font-size: 1rem;
    color: rgba(white, .5);
    font-family: 'Luckiest Guy', cursive;
    padding: 0;
    margin: 0;
    line-height: 1;
    transform: translateY(80px);
    transition: all 250ms ease-in-out;
  }

  &:hover {

    &:before {
      transform: skew(-2deg) scale(1);
    }

    > div > h2 {
      transform: translateY(0%);
    }
    > div > span {
      transform: translateY(0px);
    }
  }
}