.tabs {
  margin: 2rem 0;

  .tabs__tab {
    display: inline-block;
    margin: 0 1rem 1rem 0;
    border-radius: 100rem;
    color: black;
    padding: 12px 16px 12px 16px;
    box-shadow: none;
    outline: none;
    position: relative;
    font-family: 'Luckiest Guy', cursive;
    font-size: 1rem;
    cursor: pointer;
    background: white;
    z-index: 1;
    line-height: 1;

    &.tabs__tab-active, &:hover  {
      background: black;
      color: white;
    }

    &:last-of-type {
      margin: 0 0 1rem 0;
    }
  }

  .tabs__tab-list {
    margin: 0;
    padding: 0;
  }
}